/*Importação Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


/*Algumas definições*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
}

/*Estilização do body*/

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffcbdb;
}

/*Definição do cursor*/

button {
  cursor: pointer;
}

/*Estilização do Contêiner*/

.container {
  width: 90%;
  height: 80%;
  border-radius: 10px;
  background: white;
}

/*Estilização do Cabeçalho*/

.header {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 12px;
}

/*Estilização do Texto do Cabeçalho*/

.header span {
  font-weight: 900;
  font-size: 20px;
  word-break: break-all;
}

/*Estilização do Botão de Incluir*/

#new {
  font-size: 16px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  background-color: #ffcbdb;
}

/*Estilização da Tabela*/

.divTable {
  padding: 10px;
  width: auto; 
  height:inherit; 
  overflow:auto;
}

/*Fundo da barra de rolagem*/

.divTable::-webkit-scrollbar {
  width: 12px;
  background-color: #cfcfc4;
}

/*Barra de rolagem*/

.divTable::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6); 
}

/* Estilização da Tabela*/

table {
  width: 100%;
  border-spacing: 10px;
  word-break: break-all;
  border-collapse: collapse;
}

/*Estilização do Cabeçalho da Tabela*/

thead {
  background-color: #ffcbdb;
}

/*Linhas da tabela*/

tr {
  border-bottom: 1px solid #cfcfc4 !important;
}

/*Estilização das Células do Corpo da Tabela*/

tbody tr td {
  vertical-align: text-top;
  padding: 6px;
  max-width: 50px;
}

/*Estilização das Células do Cabeçalho da Tabela*/

thead tr th {
  padding: 5px;
  text-align: start;
  margin-bottom: 50px;
}

tbody tr {
  margin-bottom: 50px;
}

thead tr th.acao {
  width: 100px!important;
  text-align: center;
}

tbody tr td.acao {
  text-align: center;
}

/*Responsividade*/

@media (max-width: 700px) {
  body {
    font-size: 10px;
  }
  
  .header span {
    font-size: 15px;
  }

  #new {
    padding: 5px;
    font-size: 10px;
  }

  thead tr th.acao {
    width: auto!important;
  }
  
  td button i {
    font-size: 20px!important;
  }

  td button i:first-child {
    margin-right: 0;
  }

  .modal {
    width: 90%!important;
  }

  .modal label {
    font-size: 12px!important;
  }
}



/*Estilização do Modal*/

.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
  align-items: center;
  justify-content: center;
}

/*Pop-up de registro*/

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  width: 50%;
}

.modal label {
  font-size: 14px;
  width: 100%;
}

.modal input {
  width: 100%;
  outline: none;
  padding: 5px 10px; 
  width: 100%;
  margin-bottom: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
}

/*Botão de Salvar Pop-up Registro*/

.modal button {
  width: 100%;
  margin: 10px auto;
  outline: none;
  border-radius: 20px; 
  padding: 5px 10px; 
  width: 100%;
  border: none;
  background-color: #cfcfc4;
  color: black;
}

/*Exibição do Modal*/

.active {
  display: flex;
}

/*Animação Modal*/

.active .modal {
  animation: modal .4s;
}

/*Animação Modal*/

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/*Botão de editar e excluir*/

td button {
  border: none;
  outline: none;
  background: transparent;
}

/*Botão das células*/
td button i {
  font-size: 25px;
}

/*Botão das células*/

td button i:first-child {
  margin-right: 10px;
}